
span{
    position: relative; 
    left: -29px;
    padding-top: 8px;
}
.d-flex {
    width: 348px;
}
.navbar-brand{
    display: flex;
    align-self: flex-end;
}
.navbar-brand:hover{
    color: gold;
}
#body{
    font-family: 'Roboto', sans-serif;
    color: white;
}
.form-control{
    border-bottom: solid;
    border-top: 0.5px;
    border-left: 0.5px;
    border-right: 0.5px;
    border-color: rgb(255, 255, 0);
}